[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-redis = "*"
pillow = "*"
django-celery-beat = "*"
djangorestframework = "*"
celery = "*"
coreapi = "*"
channels = "*"
channels-redis = "*"
django-filter = "*"
django-user-visit = "*"
django-storages = "*"
django-ses = "*"
python-dotenv = "*"
django-mysql = "*"
mysqlclient = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-rest-passwordreset = "*"
django-import-export = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
